* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding:0;
    margin: 0;
    overflow: hidden;
}

.custom-background {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  background: rgba(125,0,163,1);
  background: -moz-linear-gradient(top, rgba(125,0,163,1) 20%, rgba(137,0,158,1) 28%, rgba(197,0,129,1) 70%, rgba(240,0,108,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(125,0,163,1)), color-stop(28%, rgba(137,0,158,1)), color-stop(70%, rgba(197,0,129,1)), color-stop(100%, rgba(240,0,108,1)));
  background: -webkit-linear-gradient(top, rgba(125,0,163,1) 20%, rgba(137,0,158,1) 28%, rgba(197,0,129,1) 70%, rgba(240,0,108,1) 100%);
  background: -o-linear-gradient(top, rgba(125,0,163,1) 20%, rgba(137,0,158,1) 28%, rgba(197,0,129,1) 70%, rgba(240,0,108,1) 100%);
  background: -ms-linear-gradient(top, rgba(125,0,163,1) 20%, rgba(137,0,158,1) 28%, rgba(197,0,129,1) 70%, rgba(240,0,108,1) 100%);
  background: linear-gradient(to bottom, rgba(125,0,163,1) 20%, rgba(137,0,158,1) 28%, rgba(197,0,129,1) 70%, rgba(240,0,108,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d00a3', endColorstr='#f0006c', GradientType=0 );
}

.col-container {
    display: table;
    width: 100%;
}
.col {
    /*display: table-cell;
    padding: 16px;
    width: 30%;*/
}

.info {
  height: 100%;
  font-family: arial;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

.slot {
  width: 100%;
  /*display: table-cell;*/
  vertical-align: middle;
  text-align: left;

}

.slotInfo {
  margin-top: 50px;
}

.imgLeft {
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: inline-block;
}

.imgLeft img {
  width: 40px;
  margin: 3px;
}

.textSlot {
  text-align: left;
}

.bottom {
  margin-top: 83%
}

.hueso {
  text-align: center;
}

.footerImage {
  /*position:absolute;
    bottom:50px;
    left: 10%;*/
}

.skipyy_logo {
  align-items: center;
}

.skipyy_logo img {
  width: 100%;
  height: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: block;
}

@media only screen and (max-width: 600px) {
    .col {
        /*display: block;
        width: 100%;*/
    }
}
